.header {
    background: #fff;
    height: 50px;
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #ddd;
    border-radius: 0 5px 0 0;
    z-index: 2;
    display:flex;
    justify-content: space-between;

    .home {
        font-size: 2rem;
        display:flex;
        position:relative;
        width:230px;
        overflow: hidden;
        
        h1 {
            margin: 0 10px 0;
            line-height: 50px;
            font-weight: 200;
            letter-spacing: .3px;
            font-size: 2.7rem;
            position: absolute;
            right: 0;
            transition-duration: 0.15s;
            transition-timing-function: cubic-bezier(0.75, -0.015, 0.565, 1.055);
            z-index: 1;

            @media screen and (max-width: 570px) {
                opacity:1;
                transform: translateY(0);
                transition-duration: 0.15s;
                transition-timing-function: cubic-bezier(0.75, -0.015, 0.565, 1.055);

                &.isNavOpen {
                    opacity:0;
                    transform: translateY(-10px);
                }
            }
        }
        a {
        width:50px;
        height:50px; 
        display: flex;
        align-items: center;
        justify-content: center;
        }

        &[class*="expanded"] h1 {
            opacity: 0;
            transform: translateY(10px);
        }
    }
}