.infoImageWrap {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    aspect-ratio: 1/1;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
}
.infoImage {
    object-fit: cover;
    filter: grayscale(0) blur(0);
    transform: scale(1);
    transition: all .7s cubic-bezier(.4,0,.2,1);
    
    &[class*="loading"] {
        filter: grayscale(100) blur(40px);
        transform: scale(1.1);
    }
}