.galleryNav {
    width: 50px;
    border-right: 1px solid #ddd;
    transition: .3s ease-in-out;
    overflow: hidden;

    .trigger {
        height:50px;
        display: flex;
        border-bottom:1px solid #ddd;
        justify-content: flex-end;
        position: sticky;
        top: 0;
        background: white;
        z-index: 2;
        border-top-left-radius: 5px;

        button {
            cursor: pointer;
            width:50px;
            height:50px;
            background: none;
            border:0;
            font-size: 2rem;
            display:flex;
            align-items: center;
            justify-content: center;

            [class*="anticon"] svg {
                display: block;
            }
        }
    }

    &[class*="isOpen"] {
        width:300px;
        overflow: auto;

        & > ul > li {
            opacity: 1;
            transform: translateX(0);
            transition-delay: calc(0.05s * var(--delay));
            }
        }
> ul {
        margin: 0;
        padding:40px 15px;

        > li {
            opacity: 0;
            transform: translateX(-20%);
            transition-property: opacity, transform;
            transition-duration: 0.15s;
            transition-timing-function: cubic-bezier(0.750, -0.015, 0.565, 1.055);
        }
    }
}
.navItem {
    padding: 4px 0;
    button {
        background: none;
        border:0;
        padding:0;
        margin:0;
        font-weight:800;
        &[class*="empty"] {
            color: var(--disabled-gray);
            font-style:italic;
        }

        + ul {
            overflow: hidden;
            transition: .5s;
            padding-left: 10px;
        }
    }

    svg {
        margin-right: 7px
    }
}