.main {
    background: #fff;
    box-shadow: 2px 2px 3px rgb(0 0 0 / 20%);
    width: 100%;
    border-radius: 5px;
    height: 100vh;
        display: flex;
        max-width:1000px;

        @media screen and (min-width: 570px) {
            
              width:95%;
              height:90vh;
            
          }

        > section {
width: 100%;
    background: rgb(218, 234, 221);
    background: linear-gradient(210deg, rgb(218, 234, 221) 0%, rgb(161, 190, 175) 100%);
    overflow: auto;
    position: relative;
    }
}